<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowAllTheContent</title>
</head>
<body>
<p th:text="${content.getContentName() + '. '}">VALUE</p>
<p th:text="${'Information: ' + content.getInfo()}">VALUE</p>
<p th:text="${content.getId()}">VALUE</p>

<a th:href="@{/tfpage/{id}/edit(id=${content.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/tfpage/{id}(id=${content.getId()})}">
    <input type="submit" value="Delete"/>

</body>
</html>